<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.bartmint.security.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login Page (JSP)</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register User (JSP)</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register User Servlet</servlet-name>
        <servlet-class>com.bartmint.security.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.bartmint.security.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard (JSP)</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dashboard Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fund Wallet Page (JSP)</servlet-name>
        <jsp-file>/fund-wallet.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Fund Wallet Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.FundWalletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice (JSP)</servlet-name>
        <jsp-file>/invoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Deposit Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdrawal Page (JSP)</servlet-name>
        <jsp-file>/withdraw.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Withdrawal Servlet</servlet-name>
        <servlet-class>com.bartmint.transactions.WithdrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload Nft Servlet</servlet-name>
        <servlet-class>com.bartmint.arts.UploadNftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload Nft Page (JSP)</servlet-name>
        <jsp-file>/create.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Nft Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.NftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create Collection Page (JSP)</servlet-name>
        <jsp-file>/collection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Collection Page Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.CollectionPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload Collection Servlet</servlet-name>
        <servlet-class>com.bartmint.arts.CreateNewCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNftArtsServlet</servlet-name>
        <servlet-class>com.bartmint.arts.DisplayNftArtsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Previous Art Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.PreviousArtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Next Art Page Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.NextArtPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy Nft Art Servlet</servlet-name>
        <servlet-class>com.bartmint.transactions.BuyNftArtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.bartmint.security.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction Page (JSP)</servlet-name>
        <jsp-file>/transactions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Profile Page (JSP)</servlet-name>
        <jsp-file>/profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>My NFTs Page (JSP)</servlet-name>
        <jsp-file>/nft-collection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>404 Page (JSP)</servlet-name>
        <jsp-file>/invalid-link.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Test Email Servlet</servlet-name>
        <servlet-class>com.bartmint.security.TestEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction Page Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.TransactionPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User Collection Page (jsp)</servlet-name>
        <jsp-file>/user-collection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Update User Servlet</servlet-name>
        <servlet-class>com.bartmint.users.UserUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>My Nfts Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.MyNftsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get Collection Arts Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.GetCollectionArtsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Explore Page</servlet-name>
        <jsp-file>/explore.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Page (JSP)</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register User (JSP)</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register User Servlet</servlet-name>
        <url-pattern>/register-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard (JSP)</servlet-name>
        <url-pattern>/dashboard/home-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard Servlet</servlet-name>
        <url-pattern>/dashboard/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fund Wallet Page (JSP)</servlet-name>
        <url-pattern>/dashboard/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fund Wallet Servlet</servlet-name>
        <url-pattern>/dashboard/fund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice (JSP)</servlet-name>
        <url-pattern>/dashboard/invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit Servlet</servlet-name>
        <url-pattern>/dashboard/deposi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawal Page (JSP)</servlet-name>
        <url-pattern>/dashboard/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawal Servlet</servlet-name>
        <url-pattern>/dashboard/withdra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload Nft Servlet</servlet-name>
        <url-pattern>/dashboard/upload-nft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload Nft Page (JSP)</servlet-name>
        <url-pattern>/dashboard/nft-create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nft Servlet</servlet-name>
        <url-pattern>/dashboard/create-nft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create Collection Page (JSP)</servlet-name>
        <url-pattern>/dashboard/create-collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Collection Page Servlet</servlet-name>
        <url-pattern>/dashboard/collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload Collection Servlet</servlet-name>
        <url-pattern>/dashboard/upload-collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNftArtsServlet</servlet-name>
        <url-pattern>/explore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Previous Art Servlet</servlet-name>
        <url-pattern>/previous-art-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Next Art Page Servlet</servlet-name>
        <url-pattern>/next-art-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy Nft Art Servlet</servlet-name>
        <url-pattern>/dashboard/buy-nft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction Page (JSP)</servlet-name>
        <url-pattern>/dashboard/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile Page (JSP)</servlet-name>
        <url-pattern>/dashboard/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My NFTs Page (JSP)</servlet-name>
        <url-pattern>/dashboard/nft-collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>404 Page (JSP)</servlet-name>
        <url-pattern>/invalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test Email Servlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction Page Servlet</servlet-name>
        <url-pattern>/dashboard/user-transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User Collection Page (jsp)</servlet-name>
        <url-pattern>/dashboard/user-collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update User Servlet</servlet-name>
        <url-pattern>/dashboard/update-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My Nfts Servlet</servlet-name>
        <url-pattern>/dashboard/my-arts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get Collection Arts Servlet</servlet-name>
        <url-pattern>/dashboard/collection-arts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Explore Page</servlet-name>
        <url-pattern>/explore-page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/invalid-link.jsp</location>
    </error-page>
</web-app>
