<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.bartmint.security.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.bartmint.dbconfig.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login Page (JSP)</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register User (JSP)</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register User Servlet</servlet-name>
        <servlet-class>com.bartmint.security.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.bartmint.security.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard (JSP)</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dashboard Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fund Wallet Page (JSP)</servlet-name>
        <jsp-file>/fund-wallet.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Fund Wallet Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.FundWalletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice (JSP)</servlet-name>
        <jsp-file>/invoice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Deposit Servlet</servlet-name>
        <servlet-class>com.bartmint.dashboard.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdrawal Page (JSP)</servlet-name>
        <jsp-file>/withdraw.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Withdrawal Servlet</servlet-name>
        <servlet-class>com.bartmint.transactions.WithdrawalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Page (JSP)</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register User (JSP)</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register User Servlet</servlet-name>
        <url-pattern>/register-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard (JSP)</servlet-name>
        <url-pattern>/dashboard/home-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard Servlet</servlet-name>
        <url-pattern>/dashboard/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fund Wallet Page (JSP)</servlet-name>
        <url-pattern>/dashboard/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fund Wallet Servlet</servlet-name>
        <url-pattern>/dashboard/fund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice (JSP)</servlet-name>
        <url-pattern>/dashboard/invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit Servlet</servlet-name>
        <url-pattern>/dashboard/deposi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawal Page (JSP)</servlet-name>
        <url-pattern>/dashboard/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawal Servlet</servlet-name>
        <url-pattern>/dashboard/withdra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
